.wrapper {
  padding: var(--spacer-10);
  background-color: var(--color-black2);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-10);
  width: 270px;

  button {
    flex: 1;
  }
}

.row {
  display: flex;
  gap: var(--spacer-9);
}
