.wrapper {
  width: 368px;
  height: 329px;
  border-radius: 10px;
  padding: var(--spacer-15);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-15);
  background-color: var(--color-black2);
}

.sectionSpace {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionStart,
.sectionStartFilter {
  display: flex;
  gap: var(--spacer-15);
  justify-content: flex-start;
}

.sectionStartFilter {
  font-size: var(--font-12);
}

.close:hover {
  cursor: pointer;
}

.dropList {
  display: flex;
  gap: var(--spacer-15);
  align-items: center;
}

.buttonWrapper {
  align-self: flex-end;
}
