.wrapper {
  display: flex;
  width: 368px;
  border-radius: 10px;
  padding: 15px;
  height: 176px;
  background-color: var(--color-black2);
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.type {
  display: flex;
  gap: 15px;
  align-items: center;
}

.optimize {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
