.wrapper {
  display: flex;
  flex-direction: column;
  width: 244px;
  min-height: 203px;
  border-radius: 10px;
  padding: 15px;
  gap: 15px;
  background-color: var(--color-black2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.listElement {
  background-color: var(--color-allocations);
  font-size: var(--font-14);
  font-weight: 500;
  border-radius: 3px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px 10px 5px 10px;
}
