@import "../../../styles/main";

.wrapper {
  background-color: var(--color-black2);
  padding: var(--spacer-10);
  border-radius: 10px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 273px;

  @include breakpoint(large) {
    width: 24rem;
  }
}

.dropWrapper {
  height: 100%;
  display: flex;
  gap: var(--spacer-6);
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.header {
  background-color: var(--color-black2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--spacer-10);
}

.listElement {
  padding: var(--spacer-10) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
}
