:root {
  --color-primary: #9c319e;
  --color-secondary: #141622;
  --color-openclose: #7700b3;
  --color-conditions: #651db9;
  --color-assets: #5737c2;
  --color-allocations: #7449cf;
  --color-black2: #20222d;
  --color-black3: #363842;
  --color-white: #fafbfb;
  --color-red: #ff5458;
  --color-green: #00ad74;
  --color-yellow: #ecd611;

  --font-16: 1rem;
  --font-14: 0.875rem;
  --font-12: 0.75rem;

  --index-modal: 103;
}
