:root {
  --color-primary: #9c319e;
  --color-secondary: #141622;
  --color-openclose: #7700b3;
  --color-conditions: #651db9;
  --color-assets: #5737c2;
  --color-allocations: #7449cf;
  --color-overlay: #121319;
  --color-black2: #20222d;
  --color-black3: #363842;
  --color-white: #fafbfb;
  --color-red: #ff5458;
  --color-green: #00ad74;
  --color-yellow: #ecd611;
  --color-chart: #3f1892;

  --font-20: 2rem;
  --font-16: 1.6rem;
  --font-14: 1.4rem;
  --font-12: 1.2rem;

  --index-modal: 104;
  --index-modalOverlay: 103;
  --index-dropdown: 102;
  --index-overlay: 101;
  --index-layoutBelow: 99;

  --spacer-2: 0.2rem; // 2px
  --spacer-5: 0.5rem;
  --spacer-6: 0.6rem;
  --spacer-7: 0.7rem;
  --spacer-8: 0.8rem;
  --spacer-9: 0.9rem;
  --spacer-10: 1rem;
  --spacer-12: 1.2rem;
  --spacer-15: 1.5rem;
  --spacer-20: 2rem;
  --spacer-25: 2.5rem;
  --spacer-28: 2.8rem;
  --spacer-30: 3rem;
  --spacer-35: 3.5rem;
  --spacer-38: 3.8rem;
  --spacer-40: 4rem;
  --spacer-50: 5rem;
  --spacer-55: 5.5rem;
}
