.wrapper {
  position: absolute;
  width: 60%;
  min-height: 40%;
  background-color: var(--color-black2);
  z-index: var(--index-modal);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-30);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--spacer-20);
  padding: var(--spacer-15);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modalLabel {
  font-size: var(--font-16);
  font-weight: 400;
}

.mainSection {
  padding: var(--spacer-10);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-15);
}

.textInputWrapper {
  width: 80%;
  height: var(--spacer-40);
  border-bottom: var(--spacer-2) solid var(--color-black3);
  font-size: var(--font-20);
  display: flex;
  gap: var(--spacer-15);
  align-items: center;
}

.textInputWrapperError {
  border-bottom: var(--spacer-2) solid var(--color-red);
}

.textInput {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  color: inherit;
  font-size: var(--font-20);

  &:focus {
    outline: none;
  }
}

.wordSpan {
  white-space: nowrap;
}

.closeButton {
  border: none;
  background-color: inherit;

  &:hover {
    cursor: pointer;
  }
}

.buttonsWrapper {
  display: flex;
  gap: var(--spacer-10);
  align-self: flex-end;
}

.hintsWrapper {
  display: flex;
  gap: var(--spacer-15);
}

.hint {
  background-color: var(--color-primary);
  color: inherit;
  font-size: var(--font-16);
  font-weight: 500;
  border: none;
  border-radius: var(--spacer-5);
  padding: var(--spacer-5) var(--spacer-10);

  &:hover {
    cursor: pointer;
  }
}
