.strategyBarWrapper {
  &:hover {
    cursor: pointer;
  }
}

.element {
  position: relative;
  padding-left: var(--spacer-12);
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    left: 0px;
    border-right: 2px solid var(--color-black2);
    border-bottom: 2px solid var(--color-black2);
    width: var(--spacer-10);
    height: var(--spacer-10);
    background-color: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    width: var(--spacer-10);
    height: var(--spacer-2);
    background-color: var(--color-black2);
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.elementsWrapper {
  position: relative;
  width: calc(100% - var(--spacer-25));
  margin: 0px var(--spacer-25);
  padding-top: var(--spacer-15);
  border-left: solid 2px var(--color-black2);

  &::before {
    content: "";
    position: absolute;
    width: var(--spacer-2);
    height: 3.1rem;
    top: -2px;
    left: -2px;
  }

  &:last-child {
    border-left: 2px solid transparent;
  }
}

$elementsMap: (
  "close": "openclose",
  "assets": "assets",
  "open": "openclose",
  "strategy": "black2",
  "allocation": "allocations",
);

@each $name, $color in $elementsMap {
  .#{$name} {
    @if $name == "strategy" {
      padding-left: 3.7rem;

      &:before {
        left: 2.7rem;
      }

      &:after {
        width: 3.7rem;
      }
    }

    &::before {
      border-right: 2px solid var(--color-#{$color});
      border-bottom: 2px solid var(--color-#{$color});
    }

    &::after {
      background-color: var(--color-#{$color});
    }
  }

  .#{$name}Wrapper {
    border-left: solid 2px var(--color-#{$color});

    &::before {
      @if $color != "openclose" and $color != "allocations" {
        height: 4.3rem;
      }
      background-color: var(--color-#{$color});
    }
  }
}
