.strategyBarWrapper {
  &:hover {
    cursor: pointer;
  }
}

.element {
  position: relative;
  padding-left: 12px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    left: 0px;
    border-right: 2px solid var(--color-black2);
    border-bottom: 2px solid var(--color-black2);
    width: 10px;
    height: 10px;
    background-color: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: var(--color-black2);
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.elementsWrapper {
  position: relative;
  width: calc(100% - 25px);
  margin: 0px 25px;
  padding-top: 15px;
  border-left: solid 2px var(--color-black2);

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 31px;
    top: -1px;
    left: -2px;
  }

  &:last-child {
    border-left: 2px solid transparent;
  }
}

$elementsMap: (
  "close": "openclose",
  "assets": "assets",
  "open": "openclose",
  "strategy": "black2",
);

@each $name, $color in $elementsMap {
  .#{$name} {
    @if $name == "strategy" {
      padding-left: 37px;

      &:before {
        left: 27px;
      }

      &:after {
        width: 37px;
      }
    }

    &::before {
      border-right: 2px solid var(--color-#{$color});
      border-bottom: 2px solid var(--color-#{$color});
    }

    &::after {
      background-color: var(--color-#{$color});
    }
  }

  .#{$name}Wrapper {
    border-left: solid 2px var(--color-#{$color});

    &::before {
      @if $color != "openclose" {
        height: 42px;
      }
      background-color: var(--color-#{$color});
    }
  }
}
