.wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--spacer-25) var(--spacer-50);
  gap: var(--spacer-50);
}

.list {
  display: flex;
  gap: 2.8rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-20);
  width: 38.6rem;
}

.title {
  font-weight: 600;
  font-size: var(--font-20);
  margin: 0;
}

.description {
  margin: 0;
}

.seeAllButton {
  background-color: inherit;
  color: inherit;
  width: fit-content;
  padding: var(--spacer-5) var(--spacer-10);
  border: 1px solid var(--color-white);
  border-radius: 5px;
}

.listElements {
  list-style-type: none;
  display: flex;
  gap: 2.8rem;
}

.listElementsWrapper {
  display: flex;
  overflow-x: scroll;
}
