.wrapper {
  display: flex;
  flex-direction: column;
  width: 244px;
  min-height: 203px;
  border-radius: 10px;
  padding: var(--spacer-15);
  gap: var(--spacer-15);
  background-color: var(--color-black2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: var(--spacer-10);
  flex-direction: column;
  align-items: flex-start;
}

.listElement {
  background-color: var(--color-allocations);
  font-size: var(--font-14);
  font-weight: 500;
  border-radius: 3px;
  display: flex;
  gap: var(--spacer-5);
  align-items: center;
  padding: var(--spacer-5) var(--spacer-10);
}

.closeWrapper:hover {
  cursor: pointer;
}
