.wrapper {
  background-color: var(--color-allocations);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: var(--font-14);
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}
