@import "../../styles/variables.scss";

.wrapper {
  width: 100vw;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacer-25) var(--spacer-50);
}

.leftWrapper {
  display: flex;
  gap: var(--spacer-50);
}

.middleWrapper {
  display: flex;
  gap: var(--spacer-20);
}

.rightWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacer-38);
}

.row {
  display: flex;
  gap: var(--spacer-10);
  align-items: center;
}

.smallRow {
  display: flex;
  align-items: center;
  gap: var(--spacer-6);
}

.active {
  background-color: var(--color-black2);
  padding: var(--spacer-5) var(--spacer-10);
  display: flex;
  align-items: center;
  border-radius: 5px;
}
