.wrapper {
  background-color: var(--color-allocations);
  padding: var(--spacer-5) var(--spacer-10);
  border: none;
  border-radius: 5px;
  color: inherit;
  font-weight: 500;
  font-size: var(--font-14);

  &:hover {
    cursor: pointer;
  }
}

.type {
  font-weight: 300;
}
