.wrapper {
  width: 100%;
  display: flex;
  padding: 24px 50px;
  gap: 50px;
  justify-content: space-between;

  & > * {
    min-width: 0;
  }
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  width: 982px;
  overflow: hidden;
}

.rightSidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.strategyBarWrapper {
  &:hover {
    cursor: pointer;
  }
}
