.wrapper {
  width: 100%;
  display: flex;
  padding: 24px 50px;
  justify-content: space-between;

  & > * {
    min-width: 0;
  }
}

.leftSidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  width: 1082px;
  padding: 0 50px;
  position: relative;
}

.rightSidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
