.wrapper {
  position: relative;
  height: 40px;
}

.iconWrapper {
  position: absolute;
  transform: translateY(50%);
  top: 0;
  left: 10px;
}

.input {
  width: 100%;
  display: block;
  height: 40px;
  background-color: var(--color-black3);
  padding: var(--spacer-10) var(--spacer-10) var(--spacer-10) var(--spacer-40);
  border: none;
  border-radius: var(--spacer-5);
  color: var(--color-white);
  font-size: var(--font-16);
}

.input:focus {
  outline: none;
}
