.input {
  background-color: var(--color-black2);
  border: none;
  border-radius: 2px;
  display: block;
  height: 23px;
  width: 37px;
  min-width: 37px;
  padding: 5px;
  font-size: var(--font-14);
  text-align: center;
  opacity: 0.5;
  color: inherit;
}
