.input {
  background-color: var(--color-black2);
  border: none;
  border-radius: 2px;
  display: block;
  height: 23px;
  width: 37px;
  min-width: 37px;
  padding: var(--spacer-5);
  font-size: var(--font-14);
  text-align: center;
  opacity: 0.5;
  color: inherit;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type="number"] {
  -moz-appearance: textfield;
}
