.wrapper {
  width: 695px;
  height: 415px;
  border-radius: 10px;
  padding: var(--spacer-15);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-15);
  background-color: var(--color-black2);
  position: absolute;
  z-index: var(--index-modal);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacer-10);
}

.navBarItem {
  background-color: var(--color-black3);
  padding: var(--spacer-5) var(--spacer-10);
  border-radius: 3px;
  font-weight: 500;
  font-size: var(--font-14);

  &:hover {
    cursor: pointer;
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.active {
  background-color: var(--color-primary);
}

.grid {
  overflow-y: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    padding-left: var(--spacer-10);
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableBody {
  width: 100%;

  .tableRow:hover {
    cursor: pointer;
    background-color: var(--color-black3);
  }
}

.tableRow {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: var(--spacer-15);
}

.tableHeaderRow {
  padding: 0 var(--spacer-15);
}

.tableItem {
  flex: 1;

  &:last-child {
    text-align: right;
  }

  &:nth-last-child(2n) {
    flex: 0.4;
  }
}

.tableHeaderItem {
  opacity: 0.8;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
}

.closeButton:hover {
  cursor: pointer;
}
