.wrapper {
  width: 695px;
  height: 415px;
  border-radius: 10px;
  padding: var(--spacer-15);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-15);
  background-color: var(--color-black2);
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacer-10);
}

.navBarItem {
  background-color: var(--color-black3);
  padding: var(--spacer-5) var(--spacer-10);
  border-radius: 3px;
  font-weight: 500;
  font-size: var(--font-14);

  &:hover {
    cursor: pointer;
  }
}

.active {
  background-color: var(--color-primary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  justify-content: space-between;
  justify-items: stretch;
  gap: var(--spacer-15);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    padding-left: var(--spacer-10);
  }
}

.gridHeaderItem {
  opacity: 0.8;
  font-size: 12px;
}

.row {
  display: flex;
  gap: var(--spacer-15);
}
