.wrapper {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: var(--spacer-5);
  gap: var(--spacer-5);
  background-color: var(--color-black3);
  width: fit-content;

  svg {
    width: 17px;
    height: 17px;
  }
}
