.button {
  background-color: var(--color-black3);
  width: 56px;
  height: 27px;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 3px;
  font-size: var(--font-14);
  border: none;
  color: inherit;

  span {
    opacity: 0.5;
  }
}

.active {
  background-color: var(--color-primary);

  span {
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
  }
}
