*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px, happy rems
}

body {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

textarea {
  font-family: inherit;
}
