*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

textarea {
  font-family: inherit;
}
