.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacer-10) var(--spacer-25);
  background-color: var(--color-primary);
  border-radius: var(--spacer-5);
}
