.wrapper {
  width: fit-content;
  height: fit-content;
  padding: var(--spacer-10);
  border-radius: 10px;
  background-color: var(--color-black2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  gap: var(--spacer-10);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-14);
  font-weight: 500;
}

.headerContent {
  display: flex;
  gap: 10px;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-end: 3;
}

.contentWrapper {
  font-size: var(--font-12);
  width: 220px;
}

.closeIcon:hover {
  cursor: pointer;
}

.trashIcon:hover {
  cursor: pointer;
}

.iconSection {
  display: flex;
  align-items: center;
  gap: 10px;
}
