@import "../../styles/main";

.wrapper {
  width: 273px;
  border-radius: 10px;
  background-color: var(--color-black2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacer-10);
  padding: var(--spacer-10) 0;

  @include breakpoint(large) {
    width: 24rem;
  }
}

.listElement {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-5);
  padding: 0 var(--spacer-10);
}

.header {
  padding: var(--spacer-2) var(--spacer-8);
  display: flex;
  align-items: center;
  gap: var(--spacer-5);
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.graph img {
  width: 100%;
}
